@import '../../public/plugins/normalize.css';

@font-face {
    font-family: 'CANDARA';
    src: url('../../fonts/CANDARA.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat.ttf') format('truetype');
}

:root {
    --main-color: #005F96;
    --secondary-color: #F04E56;
    --large-text-font-size: 60px;
    --medium-text-font-size: 37px;
    --small-text-font-size: 24px;

    --bordered-text-padding: 32px;
    --bordered-text-border-width: 1px;
    --bordered-text-border-style: solid;
    --bordered-text-border-image-outset: 0.5px;
}

body {
    font-family: 'CANDARA', Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    color: var(--main-color);
    font-size: var(--small-text-font-size);
}

*,
::after,
::before {
    box-sizing: border-box;
}

p {
    margin: 0 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5rem;
    line-height: 1.2;
}

img {
    max-width: 100%;
}

.main-container {
    max-width: 1640px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 40px;
}

.main-color {
    color: var(--main-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.main-title {
    font-size: var(--large-text-font-size);
    line-height: 1.15;
}

.secondary-title {
    font-size: var(--medium-text-font-size);
    font-weight: bold;
    line-height: 1.2;
}

/* Buttons */
.main-button {
    display: flex;
    align-items: center;
    padding: 4px 140px;
    font-size: 37px;
    font-weight: bold;
    font-family: inherit;
    color: white;
    background-color: var(--secondary-color);
    border-radius: 12px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.main-button--iconed {
    padding: 6px 44px;
}

/* Collapse */
.collapse {
    overflow: hidden;
    transition: all 0.3s ease;
}

.collapse:not(.collapse--open) {
    height: 0px;
}

/* Logo */
.logo {
    display: flex;
}

.logo__image {
    height: 45px;
    width: auto;
}

/* Divider */
.divider {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

.divider__image {
    max-width: unset;
    min-width: 100vw;
}

/* Main card */
.main-card {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-card__image {
    width: 118px;
}

.main-card__title {
    margin-bottom: 0px;
}

.main-card__subtitle {
    margin: 0;
    font-size: var(--medium-text-font-size);
    font-weight: 400;
}

/* Main List */
.main-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-list__li {
    font-size: var(--small-text-font-size);
}


/* Header */
.header {
    background-color: var(--main-color);
}

.header__inner {
    padding-top: 28px;
    padding-bottom: 28px;
    max-width: 1740px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-toggler {
    display: none;
    background: transparent;
    border: none;
}

.navbar-toggler__icon {
    display: none;
}

.navbar-toggler:not(.navbar-toggler--active) .navbar-toggler__icon--open {
    display: block;
}

.navbar-toggler--active .navbar-toggler__icon--close {
    display: block;
}

.navbar {
    font-family: 'Montserrat';
}

.navbar__inner {
    display: flex;
    gap: 32px;
}

.navbar__link {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

/* Only tablet and mobile devices */
.navbar__additional-links {
    display: none;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;

    border-width: var(--bordered-text-border-width);
    border-style: var(--bordered-text-border-style);
    border-image: linear-gradient(-90deg, #005F96 0%, white 50%, #005F96 100%) 1 0 0 0;
    border-image-outset: var(--bordered-text-border-image-outset);
}

/* ========== Intro ========== */
.intro {
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #F2F1F6 0%, #F7ECEF 100%);
}

.intro__inner {
    /* 100vh - header height */
    min-height: calc(100vh - 100px);
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.intro__leftside-blue-ellipse {
    width: 986px;
    height: 986px;
    border-radius: 50%;
    background: #005F96;
    opacity: 10%;
    position: absolute;
    filter: blur(200px);
    left: 0;
    top: 0;
    z-index: 0;
}

.intro__center-red-ellipse {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #DA6976;
    opacity: 30%;
    position: absolute;
    filter: blur(130px);
    left: 80%;
    top: 50%;
}

.intro__rightside-blue-ellipse {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    background: #005F96;
    opacity: 6%;
    position: absolute;
    filter: blur(170px);
    right: 120px;
    bottom: 108px;
    z-index: 0;
}

.intro__box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.intro__title {
    max-width: 810px;
    margin-bottom: 0;
    padding: var(--bordered-text-padding);
    border-width: var(--bordered-text-border-width);
    border-style: var(--bordered-text-border-style);
    border-image: linear-gradient(138deg, #016097 50%, transparent 80%) 1 1 1 1;
    border-image-outset: var(--bordered-text-border-image-outset);
    color: var(--secondary-color);
}

.intro__subtitle {
    margin: 0;
    padding: var(--bordered-text-padding);
    border-width: var(--bordered-text-border-width);
    border-style: var(--bordered-text-border-style);
    border-image: linear-gradient(-102deg, #016097 0%, transparent 90%) 1 1 1 1;
    border-image-outset: var(--bordered-text-border-image-outset);
    font-size: var(--medium-text-font-size);
    font-weight: 400;
    line-height: 1.2;
}

.intro__image-wrapper {
    position: absolute;
    top: -42px;
    right: -780px;
}

.intro__image-hearts {
    position: absolute;
    top: -32px;
    right: 20px;
}

/* ========== Plan ========== */
.plan {
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #F1F1F7 0%, #F8ECEE 100%);
}

.plan__inner {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding-top: 140px;
    padding-bottom: 80px;
}

/* Plan Row */
.plan__row {
    display: flex;
    align-items: center;
    gap: 120px;
    margin-bottom: 80px;
}

.plan__calendar-wrapper {
    width: 50%;
    position: relative;
}

.plan__calendar-red-ellipse {
    position: absolute;
    width: 620px;
    height: 620px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(240 78 86 / 10%);
    filter: blur(200px);
}

.plan__text-wrapper {
    position: relative;
    width: 50%;
}

.plan__text {
    padding: var(--bordered-text-padding);
    border-width: var(--bordered-text-border-width);
    border-style: var(--bordered-text-border-style);
    border-image: linear-gradient(-155deg, #016097 0%, transparent 60%) 1;
    line-height: 1.2;
    font-size: var(--medium-text-font-size)
}

/* Plan Foot */
.plan__foot {
    position: relative;
}

.plan__foot-title {
    margin-bottom: 48px;
}

.plan__foot-cards {
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
}

.plan__foot-cards-heart {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(20deg);
}

/* ========== Duet ========== */
.duet {
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #EEF4FB 50%, #FBE8EA 50%);
}

.duet__inner {
    padding-top: 160px;
    padding-bottom: 100px;
}

.duet__joined-icons {
    position: absolute;
    top: 420px;
    left: 50%;
    transform: translateX(-50%);
}

.duet__side {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.duet__side--left {
    padding-right: 168px;
}

.duet__side--right {
    padding-left: 168px;
}

.duet__side--right .divider {
    display: none;
}

.duet__side-box {
    height: 100%;
}

.duet__side-box-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.duet__side-head-andvantages-wrapper {
    border-width: var(--bordered-text-border-width);
    border-style: var(--bordered-text-border-style);
}

.duet__side--left .duet__side-head-andvantages-wrapper {
    padding: 32px 0 32px 48px;
    border-image: linear-gradient(90deg, #016097 50%, transparent 100%) 1 1 1 1;
    border-image-outset: var(--bordered-text-border-image-outset);
}

.duet__side--right .duet__side-head-andvantages-wrapper {
    padding: 32px 48px 32px 0;
    border-image: linear-gradient(-90deg, #016097 50%, transparent 100%) 1 1 1 1;
    border-image-outset: var(--bordered-text-border-image-outset);
}

/* Duet header */
.duet__side-header {
    position: relative;
    padding-bottom: 140px;
}

.duet__ellipse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: blur(200px);
    z-index: 0;
}

.duet__side--left .duet__ellipse {
    background-color: rgb(0 95 150 / 10%);
}

.duet__side--right .duet__ellipse {
    background-color: rgb(240 78 85 / 10%);
}

.duet__title {
    position: absolute;
    bottom: 40px;
    writing-mode: vertical-lr;
    font-size: 80px;
    color: rgb(0 0 0 / 10%);
    transform: scale(-1);
    z-index: 90;
    line-height: 0;
}

.duet__side--right .duet__title {
    right: 18px;
}

.duet__side .model-viewer-wrapper {
    width: 100%;
    height: 580px;
    position: relative;
    z-index: 10;
    margin-top: -218px;
}

.duet__side .model-viewer {
    width: 100%;
    height: 100%;
}

.duet__side--left .model-viewer-wrapper {
    padding-left: 52px;
}

.duet__side--right .model-viewer-wrapper {
    padding-right: 52px;
}

/* Duet advantages */
.duet__advantages-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 1;
}

.duet__side-icons {
    display: none;
}

.duet__advantage {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.duet__advantage-title {
    margin-bottom: 0;
}

/* Duet instruction */
.duet__side-instruction {
    margin: auto auto 0;
    text-decoration: none;
}

.duet__side-instruction .main-card__subtitle {
    max-width: 200px;
}

/* ========== About ========== */
.about {
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #F1F1F7 0%, #F8ECEE 100%);
}

.about__inner {
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 120px;
}

/* About top */
.about__top {
    padding: var(--bordered-text-padding);
    border-width: var(--bordered-text-border-width);
    border-style: var(--bordered-text-border-style);
    border-image: linear-gradient(90deg, #016097 50%, transparent 100%) 1;
    border-image-outset: var(--bordered-text-border-image-outset);
}

.about__top-title {
    margin-bottom: 40px;
}

.about__top-lists-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.about__top-subtitle {
    margin-bottom: 20px;
}

.about__top-list--right {
    min-width: 562px;
}

/* About complex */
.about__complex {
    padding: var(--bordered-text-padding);
    border-width: var(--bordered-text-border-width);
    border-style: var(--bordered-text-border-style);
    border-image: linear-gradient(-90deg, #016097 50%, transparent 100%) 1 1 1 1;
    border-image-outset: var(--bordered-text-border-image-outset);
}

.about__complex-title {
    margin-bottom: 40px;
}

.about__complex-blocks-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.about__complex-block {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.about__complex-block--right .about__complex-list {
    max-width: 562px;
}

/* Order */
.order {
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #F2F1F6 0%, #F7ECEF 100%);
}

.order__inner {
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 120px;
    padding-bottom: 80px;
}

/* For tablet and mobile border */
.order__title-order-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.order__title {
    margin: 0;
    padding: var(--bordered-text-padding);
    border-width: var(--bordered-text-border-width);
    border-style: var(--bordered-text-border-style);
    border-image: linear-gradient(170deg, #016097 53%, transparent 70%) 1 1 1 1;
    border-image-outset: var(--bordered-text-border-image-outset);
}

/* Order offer */
.order__offer {
    padding: var(--bordered-text-padding);
    border-width: var(--bordered-text-border-width);
    border-style: var(--bordered-text-border-style);
    border-image: linear-gradient(-90deg, #016097 0%, transparent 100%) 1 1 1 1;
    border-image-outset: var(--bordered-text-border-image-outset);
}

.order__offer-title {
    margin-bottom: 20px;
}

.order__offer-text {
    margin: 0;
}

/* Order links */
.order__links {
    padding: var(--bordered-text-padding);
}

.order__links-title {
    margin-bottom: 28px;
}

.order__links-row {
    display: flex;
    gap: 40px;
}

/* Order images */
.order__images-wrapper {
    position: relative;
    /* 100% - (.order__links width) - (80px for margin left) */
    width: calc(100% - 820px - 80px);
    margin-left: auto;
}

.order__image-1,
.order__image-2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.order__image--blured {
    /* 100% - (.order__image--focused width) - (self width / 2) - (80px for margin-right) */
    left: calc(100% - 440px - 120px - 80px);
    width: 240px;
    z-index: 0;
    filter: blur(1.5px);
    transition: left 0.3s linear, width 0.3s linear 0.3s, z-index 0s linear 0s, filter 0.3s linear 0.6s;
}

.order__image--focused {
    /* 100% - (self width) - (80px for margin-right) */
    left: calc(100% - 400px - 80px);
    width: 440px;
    z-index: 1;
    filter: blur(0);
    transition: left 0.3s linear, width 0.3s linear 0.3s, z-index 0s linear 0s, filter 0.3s linear 0.6s;
}

/* Footer */
.footer {
    background: linear-gradient(90deg, #F2F1F6 0%, #F7ECEF 100%);
}

.footer__divider {
    display: flex;
    width: 100%;
}

.footer__inner {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 160px;
}

.footer__row {
    display: flex;
}

.footer__side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__side--right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.footer__title {
    max-width: 460px;
    font-size: var(--small-text-font-size);
    margin-bottom: 4px;
}

.footer__text {
    font-size: var(--small-text-font-size);
    margin-bottom: 4px;
}

.footer__link {
    color: var(--main-color);
    text-decoration: none;
}

.footer__link--address {
    display: block;
    margin-bottom: 36px;
}

.footer__albion {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: flex-end;
    margin-top: 36px;
}

.footer__albion-text {
    max-width: 380px;
    margin: 0;
    font-size: var(--small-text-font-size)
}

.footer__albion-logo {
    margin-top: -15PX;
}

/* Fixed notification */
.fixed-notification {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    padding: 20px 0;
    color: rgb(0 95 150 / 20%);
    background-color: rgb(0 95 150 / 5%);
    z-index: 10;
    transition: 0.3s;
}

.fixed-notification:hover,
.fixed-notification--fixed {
    background-color: var(--main-color);
    color: rgb(255 255 255 / 95%);
}

/* Bad Notification */
.notification {
    width: 100%;
    text-align: center;
}

.notification__title {
    font-size: var(--medium-text-font-size);
}

/* Only mobile */
.notification__title-short {
    display: none;
}

.notification__text {
    font-size: var(--small-text-font-size);
    margin-bottom: 0;
}

.scroll-top {
    position: absolute;
    right: 48px;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255 255 255 / 30%);
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgb(0 95 150 / 5%);
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
    border: 0.5px solid transparent;
}

.fixed-notification:hover .scroll-top,
.fixed-notification--fixed .scroll-top {
    background-color: rgb(255 255 255 / 90%);
}

.scroll-top svg {
    width: 30px;
    transition: 0.3s;
}

.scroll-top svg path {
    transition: 0.3s;
}

.scroll-top:hover {
    background-color: rgb(255 255 255 / 85%);
    box-shadow: 0px 4px 4px rgb(0 95 150 / 15%);
    border-color: var(--main-color);
}

.scroll-top:hover svg path {
    fill-opacity: 1;
}

.fixed-notification:hover .scroll-top svg path,
.fixed-notification--fixed .scroll-top svg path {
    fill-opacity: 1;
}
