@font-face {
    font-family: 'Candara';
    src: url('../fonts/candara.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat.ttf') format('truetype');
}

:root {
    --main-color: #005F96;
    --secondary-color: #F04E56;
}

body {
    font-family: 'Candara', Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    color: var(--main-color);
    background:
        conic-gradient(from 180deg, #EDF4FB, #FBE8E9) no-repeat left top / 100% 4220px,
        conic-gradient(from 0deg, #FBE8E9, #EDF4FB) repeat left 4220px / 100% calc(100% - 4220px);
}

*,
::after,
::before {
    box-sizing: border-box;
}

p {
    font-size: 14px;
    margin: 0 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5rem;
    line-height: 1.2;
}

img {
    max-width: 100%;
}

.main-container {
    max-width: 1640px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 40px;
}

.main-title {
    font-size: 60px;
    line-height: 1.15;
}

.secondary-title {
    font-size: 37px;
}

.main-color {
    color: var(--main-color);
}

.secondary-color {
    color: var(--secondary-color);
}
    
.divider {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}

/* Main List */
.main-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-list__li {
    font-size: 24px;
}

/* Bad Notification */
.bad-notification {
    color: rgb(0 0 0 / 10%);
    text-align: center;
}

.bad-notification__title {
    font-size: 37px;
}

.bad-notification__text {
    font-size: 25px;
    margin-bottom: 0;
}  

/* Buttons */
.main-button {
    display: flex;
    align-items: center;
    padding: 4px 140px;
    font-size: 37px;
    font-weight: bold;
    font-family: 'Candara', Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    color: white;
    background-color: var(--secondary-color);
    border-radius: 12px;
    border: none;
}

.main-button--iconed {
    padding: 6px 44px;
}

/* Header */
.header {
    background-color: var(--main-color);
}

.header__inner {
    padding-top: 28px;
    padding-bottom: 28px;
    max-width: 1740px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
}

.logo__image {
    height: 45px;
    width: auto;
}

.navbar {
    display: flex;
    gap: 32px;
    font-family: 'Montserrat';
}

.navbar__link {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

/* Intro */
.intro {
    position: relative;
    overflow: hidden;
    background: url('../images/intro-image.svg') no-repeat center calc(100% - 50px) / auto 650px;
}

.intro__inner {
    min-height: calc(100vh - 100px);
    align-items: center;
}

.intro__leftside-blue-ellipse {
    width: 986px;
    height: 986px;
    border-radius: 50%;
    background: #005F96;
    opacity: 10%;
    position: absolute;
    filter: blur(200px);
    left: 0;
    top: 0;
    z-index: 0;
}

.intro__center-red-ellipse {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #DA6976;
    opacity: 30%;
    position: absolute;
    filter: blur(130px);
    left: calc(50% - 160px);
    top: calc(100% - 400px);
    z-index: 1;
}

.intro__rightside-blue-ellipse {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    background: #005F96;
    opacity: 6%;
    position: absolute;
    filter: blur(170px);
    right: 120px;
    bottom: 108px;
    z-index: 0;
}

.intro__text {
    max-width: 780px;
    z-index: 8;
}

.intro__title {
    color: var(--secondary-color);
    margin-bottom: 60px;
}

.intro__subtitle {
    font-size: 37px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
}

/* Plan */
.plan {
    position: relative;
}

.plan__inner {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.plan__about {
    padding-top: 60px;
    display: flex;
    align-items: center;
    gap: 200px;
    margin-bottom: 80px;
}

.plan__calendar-wrapper {
    width: 50%;
    position: relative;
}

.plan__calendar-red-ellipse {
    position: absolute;
    width: 620px;
    height: 620px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(240 78 86 / 10%);
    filter: blur(200px);
}

.plan__desc {
    width: 50%;
}

.plan__desc-text {
    max-width: 730px;
    line-height: 1.2;
    font-size: 37px;
}

.plan__duet-wrapper {
    position: relative;
}

.plan__duet {
    max-width: 1080px;
}

.plan__deut-title {
    margin-bottom: 48px;
}

.plan__duet-cards {
    display: flex;
    justify-content: space-between;
}

.main-card {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-card__image {
    width: 118px;
}

.main-card__title {
    margin-bottom: 0px;
}

.main-card__subtitle {
    margin: 0;
    font-size: 37px;
}

.main-card--fertivita {
    color: var(--secondary-color);
}

.plan__duet-heart {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(20deg);
}

/* Duet */
.duet {
    position: relative;
}

.duet__inner {
    min-height: 100vh;
    padding-top: 120px;
    padding-bottom: 80px;
    flex-direction: column;
}

.duet__sides-wrapper {
    position: relative;
    width: 100%;
    display: flex;
}

.duet__sides-wrapper-icon {
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
}

.duet__side {
    width: 50%;
    padding-bottom: 80px;
}

.duet__side--left {
    padding-right: 200px;
}

.duet__side--right {
    padding-left: 200px;
}

.duet__image-container {
    position: relative;
    padding-top: 240px;
    padding-bottom: 140px;
}

.duet__image-pack {
    position: absolute;
    top: 54px;
    z-index: -1;
}

.duet__side--right .duet__image-pack {
    right: 0px;
}

.duet__image-ellipse-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.duet__side--left .duet__image-ellipse-overlay {
    background-color: rgb(0 95 150 / 10%);
    filter: blur(200px);
    z-index: 0;
}

.duet__side--right .duet__image-ellipse-overlay {
    background-color: rgb(240 78 85 / 10%);
    filter: blur(200px);
    z-index: 0;
}

.duet__title {
    position: absolute;
    bottom: 40px;
    writing-mode: vertical-lr;
    font-size: 80px;
    color: rgb(0 0 0 / 10%);
    transform: scale(-1);
    z-index: 90;
    line-height: 0;
}

.duet__side--right .duet__title {
    right: 0px;
}

.duet__action {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.duet__action-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.duet__action-title {
    margin-bottom: 0;
}
 
/* Advantages */
.advantages {
    position: relative;
}

.advantages__inner {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.advantages__blocks-wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: 40px;
    padding-bottom: 80px;
}

.advantages-block__sides-wrapper {
    display: flex;
}

.advantages__block-title {
    margin-bottom: 40px;
}

.advantages__block-subtitle {
    margin-bottom: 20px;
}

.advantages__block-leftside {
    position: relative;
    width: 50%;
    padding-right: 200px;
}

.advantages__block-rightside {
    position: relative;
    width: 50%;
    padding-left: 200px;
}

.advantages__block-leftside-icon {
    position: absolute;
    right: 28px;
    top: 0;
}

.advantages__block-rightside-icon {
    position: absolute;
    left: 28px;
    top: 0;
}

/* Order */
.order {
    position: relative;
}

.order__inner {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
}

.order__title {
    margin-bottom: 48px;
    color: var(--secondary-color);
}

.order__row {
    display: flex;
    gap: 40px;
    padding-bottom: 40px;
}

.order__row-leftside {
    width: 52%;
}

.order__offer-title {
    margin-bottom: 20px;
}   

.order__offer-text {
    font-size: 24px;
    margin: 0;
}

.order__form {
    margin-top: 40px;
}

.order__form-title {
    margin-bottom: 28px;
}

.order__form-buttons {
    display: flex;
    gap: 40px;
}   

.order__image {
    width: 48%;
}

/* Footer */
.footer {
    position: relative;
}

.footer__inner {
    padding-top: 48px;
    padding-bottom: 190px;
}

.footer__row {
    display: flex;
    width: 100%;
}

.footer__leftside {
    width: 50%;
}

.footer__title {
    font-size: 24px;
    margin-bottom: 4px;
}

.footer__text {
    font-size: 24px;
    margin-bottom: 4px;
}

.footer__rightside {
    width: 50%;
    text-align: right;
}

.footer__albion {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: flex-end;
    margin-top: 32px;
}
.footer__albion-text {
    margin: 0;
    font-size: 24px;
}

.footer__base {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
}